---
layout: default
---

<div id='sticky-nav' class='sticky-top'>
    <div class='container'>
        <div class="row">
            <div class='col-11'></div>
            <div id="mainnav" class="navbar navbar-expand col-1" role="navigation">
                <ul class='navbar-nav'>
                    <li class='nav-item dropdown ml-auto'>
                        <button class="btn nav-link dropdown-toggle" type="button" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i id="menu-bars-button" class="d-none d-sm-inline fas fa-bars"></i>
                            <i id="menu-bars-button-small" class="d-sm-none fas fa-bars"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#welcome">Welcome!</a>
                            <a class="dropdown-item" href="#about">About the Program</a>
                            <a class="dropdown-item" href="#faculty">Faculty Mentors</a>
                            <!-- <a class="dropdown-item" href="#research">Recent Research Projects</a> -->
                            <a class="dropdown-item" href="#schedule">Tentative Program Schedule</a>
                            <a class="dropdown-item" href="#apply">How to Apply</a>
                            <a class="dropdown-item" href="#criteria">Review Criteria</a>
                            <a class="dropdown-item" href="#faq">FAQ</a>
                            <a class="dropdown-item" href="#contact">Contact Us</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div> 
    </div>
</div>


<div class='container' id='content'>
<div class='row'>
<div class='col-md-12' id='maincontent'>

<div id='title-section' class='mainitem'>
    <img id='banner-img' src='img/banner.png'></img>
</div>

<div id='welcome-section' class='mainitem'>
    <div class='anchor'>
        <a name='welcome'> </a>
        <div class='mainheader'>Welcome!</div>
    </div>
    <p>
        <!-- Introduction to the program topic, why we're running this program, who it's for. -->
        Artificial intelligence is often in the news for the wrong reasons: privacy-penetrating surveillance systems, "deepfakes," racial bias in predictive policing, and more.
        But when used in a socially responsible manner, AI can be used for good: robotic assistants for people with physical disabilities; tools to help people express their creative visions; systems that help people improve their physical and mental wellbeing; and more.
        <!-- For example, it can be used to augment the creative capabilities of people, a process often called <i>computational creativity</i>.
        Creating images, 3D models, writing, games: in these domains and more, AI is offering new and exiting ways for people to realize their creative visions. -->
    </p>

    <p>
        Brown CS is proud to partner with Google Research to offer <i>exploreCSR: Socially-Responsible Artificial Intelligence</i>, a semesterlong immersive research experience program for undergraduate students which focuses on exactly these subjects.
        We encourage students from historically-underrepresented groups within computer science to apply, which includes, but is not limited to, students that identify as women, underrepresented minority (URM), first-generation college, low-income, and/or LGBTQ+. No prior research experience required!
        Our goal is to expose students to what computing research can look like, to help them build self-efficacy and practical research skills, and to encourage them to pursue graduate studies in computer science. We are especially interested in applicants from colleges and universities that do not already offer extensive research opportunities.
    </p>
</div>

<div id='about-section' class='mainitem'>
    <div class='anchor'>
        <a name='about'> </a>
        <div class='mainheader'>About the Program</div>
    </div>
    <!-- How long it is, what students are expected to do, mentorship structure, stipends, etc. -->
    <p>
        <b>Requirement:</b> Research is a time-consuming endeavor; to make sure that participants have enough time for it during their semester, we require them to obtain independent study credit at their home institution for participating in our program. Most colleges/universities will have courses you can enroll in for this purpose (in the Brown CS department, this is CS 1970). However, not all colleges/universities will allow you to enroll in this course if your research supervision is at a different institution. Please verify that this is allowed at your institution before applying.
    </p>
    <p>
        <b>Time commitment:</b> The program runs roughly the duration of Brown's spring 2025 semester: January through May. We expect research group meetings, mentor meetings, and project work to take a minimum of 5 hours per week. 
    </p>
    <p>
        <b>Who can apply:</b> Current undergraduate students (including graduating seniors) attending college at an instituion in one of the following US states/territories: Washington DC, Virginia, Maryland, Delaware, Pennsylvania, New York, New Jersey, Rhode Island, Massachusetts, Connecticut, Vermont, New Hampshire, and Maine. Most program activities are virtual, but we are planning a couple of in-person visits (the travel costs for which we will cover).
    </p>
    <p>
        <b>Experience needed:</b> Prospective students should have completed an introductory computer science course sequence. Coursework in calculus, linear algebra, and probability are also helpful but not strictly required. No prior research experience necessary!
    </p>
    <p>
        <b>Research activities:</b> Participants will be paired with a faculty mentor and a graduate student mentor who will help guide them through a semester-long research project. There are multiple project options, depending on the experience level of each student. These include literature reviews, project proposals, replications of prior work, apprenticeships with existing research projects at Brown, or new independent research projects. The program culminates with participants presenting their work at the Brown CS Undergraduate Research Symposium in late May. Throughout the semester, participants will be full members of a research group at Brown, with access to lab meetings, Slack channels, etc.
    </p>
    <p>
        <b>Other activities:</b> We have numerous other activities planned to given participants a "behind-the-scenes" look at what graduate study in CS looks like. These include panels on demystifying the graduate application process, Q&A's with current grad students and alumni, attendance at Brown CS lab meetings, and observing formal graduate student presentations such as thesis proposals and defenses.
    </p>
    <!-- <p>
        <b>Stipend:</b> We recognize that participating in this program takes time. To help offset this opportunity cost, each participant will receive a $300 stipend.
    </p> -->
    
</div>

<div id='faculty-section' class='mainitem'>
    <div class='anchor'>
        <a name='faculty'> </a>
        <div class='mainheader'>Faculty Mentors</div>
    </div>
    <p>
        Students who participate in the program will be mentored by one of the following Brown CS faculty members:
    </p>

    <div class='row'>
        {% for fac in site.data.faculty %}
            <div class='person col-lg-3 col-md-4 col-sm-6 col-6'>
                <div class='personpic'>
                    <a target='_blank' href='{{fac.homepage}}'>
                        <img class='hoverpic' src='img/faculty/{{fac.photo_id}}.jpg'/>
                    </a>
                </div>
                <div class='personinfo'>
                    <div class='personname'><a target='_blank' href='{{fac.homepage}}'>{{fac.name}}</a></div>
                    {% if fac.starting %}
                        <div class='facstarting'>Starting {{fac.starting}}</div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<!-- <div id='research-section' class='mainitem'>
    <div class='anchor'>
        <a name='research'> </a>
        <div class='mainheader'>Recent Research Projects</div>
    </div>
    <p>
        Here are just a few examples of research projects recently carried out by our faculty:
    </p>

    <div id="herocarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% for hero in site.data.hero %}
                {% if forloop.first %}
                    {% assign itemclass = "active" %}
                {% else %}
                    {% assign itemclass = "" %}
                {% endif %}
                <div class="carousel-item {{itemclass}}">
                    <div class='nospace container'>
                        <div class='nospace row'>
                            <div class='nospace col-auto'><div class='spacer'></div></div>
                            <div class='nospace col'>
                                <div class='nospace row'>
                                    <div class='nospace col'>
                                        <img class='heroimg' src="img/hero/{{hero.img}}.png"/>
                                    </div>
                                </div>
                                <div class='nospace row'>
                                    <div class='nospace col'>
                                        <div class="my-carousel-caption">
                                            {{hero.caption}}
                                            {% if hero.link_text %}
                                                {% assign link_text = hero.link_text %}
                                            {% else %}
                                                {% assign link_text = "Learn more!" %}
                                            {% endif %}
                                            <a target='_blank' href="{{hero.link_target}}">{{link_text}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='nospace col-auto'><div class='spacer'></div></div>
                        </div>
                    </div>
                </div> 
            {% endfor %}
        </div>
        <div class='carousel-controls'>
            <ol class="carousel-indicators">
                {% for hero in site.data.hero %}
                    {% if forloop.first %}
                        {% assign itemclass = "active" %}
                    {% else %}
                        {% assign itemclass = "" %}
                    {% endif %}
                    {% assign index = forloop.index | minus: 1 %}
                    <li data-target="#herocarousel" data-slide-to="{{index}}" class="{{itemclass}}"></li>
                {% endfor %}
            </ol>
            <a class="carousel-control-prev" href="#herocarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#herocarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

</div> -->

<div id='schedule-section' class='mainitem'>
    <div class='anchor'>
        <a name='schedule'> </a>
        <div class='mainheader'>Tentative Program Schedule</div>
    </div>
    <p>
        The table below shows the major events planned as part of the program. Throughout the semester, participants will pursue their own research projects under the guidance of their faculty and grad student mentors.
    </p>

    <div id='scheduletable' class='table-group'>
        <table class='table-list table table-striped table-sm table-responsive-sm'>
            <thead class='thead-dark'>
                <th><button type='button' class='sort' data-sort='date'>Date<span class='caret'></span></button></th>
                <th><button type='button' class='sort' data-sort='name'>Event<span class='caret'></span></button></th>
            </thead>
            <tbody class='list'>
                {% for event in site.data.schedule %}
                    <tr data-name='{{event.name}}'>
                        <td class='eventdate'>{{event.date}}</td>
                        <td class='eventname'>{{event.name}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div id='apply-section' class='mainitem'>
    <div class='anchor'>
        <a name='apply'> </a>
        <div class='mainheader'>How to Apply</div>
    </div>
    <p>
        To apply for the 2025 program, fill out the <a href='https://forms.gle/u8BnUgyBuhRybz368'>online application form</a>.
    </p>
    <p>
        The application deadline is December 8 2025.<br>
    </p>
</div>

<div id='criteria-section' class='mainitem'>
    <div class='anchor'>
        <a name='criteria'> </a>
        <div class='mainheader'>Review Criteria</div>
    </div>
    <p>
        When we review applicants to the program, we are looking for the following qualities:
        <ul>
            <li>Students with strong grades in computer science and math courses.</li>
            <li>Students who write thoughtful, compelling statements about why they want to explore CS research and what they hope to get out of participating in our program.</li>
            <li>Students who have limited opportunities to engage in CS research at their own college or university.</li>
            <li>Students who will contribute to a diverse cohort with a variety of backgrounds, experience levels, and perspectives.</li>
        </ul>
    </p>
</div>

<div id='faq-section' class='mainitem'>
    <div class='anchor'>
        <a name='faq'> </a>
        <div class='mainheader'>FAQ</div>
    </div>
    <ul>
        {% for qs in site.data.faq %}
        <li>
            <div class='faqquestion'>
            {{ qs.question }}
            </div>
            {{ qs.answer }}
        </li>
        {% endfor %}
    </ul>
</div>

<!--
<div id='contact-section' class='mainitem'>
    <div class='anchor'>
        <a name='contact'> </a>
        <div class='mainheader'>Contact Us</div>
    </div>
    <p>
        Any further questions about the program? Send us email at <a href='mailto:explorecsr@lists.cs.brown.edu'>explorecsr@lists.cs.brown.edu</a>.
    </p>
</div>
-->

</div>
</div>
</div>